<section class="section">
  <h1 class="section__title">{{project.author}}</h1>
  <div class="section__content">
    <img src="{{project.image}}" alt="{{project.title}}" width="300" height="300" class="section__content--image">
    <div class="section__info">
      <h3 class="section__info--title">{{project.title}}</h3>
      <p class="section__info--desc">{{project.description}}</p>
      <a class="section__info--link" target="_blank" href="{{project.linkPage}}">Look on page</a>
      <a class="section__info--link" target="_blank" href="{{project.linkSource}}">Look source files</a>
    </div>
  </div>
</section>
